# Conexión Turso (SQLite distribuido) en la nube
TURSO_DATABASE_URL=libsql://tu-base-de-datos.turso.io
TURSO_AUTH_TOKEN=tu-token-jwt-de-turso

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=clave-secreta-aleatoria-para-produccion
